
#unbold {
	font-weight: normal;
}

div.outer-content {
	margin-top: 20px;
	height: 50px;
	float: left;
	width: 75%;
	background-color: pink;
}

div.inner-content {
	margin: 0 auto;
	text-align: center;
	color: white;
	background-color: blue;
	width: 75%;
	height: 50%
	
}

#form
{
	display: block;
}